.pirate-one-container{

    .pirate-one-img-container{
        margin-top: 2%;
    }
    .pirate-one-img{
        border-radius: 50%;
        width: 20%;
        min-height: 14vh;
    }
    .home-btn{
        color: white;
        border-radius: 4px;
        background-color: rgb(46, 133, 214);
        padding: .5%;
        margin-top: 2%;
    }
}

